body {

}

/* ----------------- CONFIGURAÇÃO DO MENU PRINCIPAL ------------------ */


header {
	display: flex;
	height: 60px;
	justify-content: space-evenly; /* Distribuição dos ítens horizontalmente*/
	align-items: center; /* Distribuição dos ítens verticalmente*/
	background-color: rgb(23, 23, 23);
    border-radius: 5pt;
}

header h1 {
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(189,204,189,1) 56%, rgba(140,144,139,1) 100%);
	/* background: linear-gradient(to right, #fcc050, #f48d65, #f8ff2e, #47f533);*/
    -webkit-text-fill-color: transparent; /*Propriedades para deixar o texto gradiente*/
    -webkit-background-clip: text; /*Propriedades para deixar o texto gradiente*/
	background-clip: text; /* Foi colocado aqui apenas para corrigir um erro apontado na linha anterior quando você usa a propriedade -webkit-background-clip */
}

header nav ul {
	display: flex;
	list-style: none; /*Define uma imagem para o tópico da lista (ex.: *, =>, etc) */
}

header nav ul li {
	padding: 15px;
}

header nav ul li a {
	text-decoration: none; /* Underline, overline, blink, etc */
	font-size: 1.2rem;
	color: white;
	transition: 0.5s; /*Tempo para a mudança. Neste caso, a cor. */
}

header nav ul li a:hover {
	color: rgb(20, 150, 65);
} 

/* ----------------- FIM DA CONFIGURAÇÃO MENU PRINCIPAL ------------------ */
/* -----------------     CONFIGURAÇÃO ÁREA CENTRAL      ------------------ */

div#id_centro {
	margin: auto;
	margin-top: 10pt;
	border-radius: 2%;
	border-width: 2pt;
	border-style: solid;
	border-color: black;
	width: 60%;
	height: 60%;
    background-image: url(../image/fundo-medio.jpg);
    background-size: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div#id_centro h1 {
	justify-self: center;
	margin: auto;
	margin-top: 2%;
}

#img_foto {
	width: 22%;
	height: 22%;
	margin: auto;
	margin-top: 2%;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: right;
}