/* Definindo o conjunto de caracteres */
@charset "UTF-8";

/* Dando um reset nas pré-definições existentes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
	background-image: url(../image/imagem_midle2.jpg);
	background-position: center;
    background-size: cover;
	display: flex;
	flex-direction: column;
}

/* ----------------- CONFIGURAÇÃO DO MENU PRINCIPAL ------------------ */


header {
	display: flex;
	height: 60px;
	justify-content: space-evenly; /* Distribuição dos ítens horizontalmente*/
	align-items: center; /* Distribuição dos ítens verticalmente*/
	background-color: #0B282E;
    border-radius: 5pt;
}

header h1 {
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(189,204,189,1) 56%, rgba(140,144,139,1) 100%);
	/* background: linear-gradient(to right, #fcc050, #f48d65, #f8ff2e, #47f533);*/
    -webkit-text-fill-color: transparent; /*Propriedades para deixar o texto gradiente*/
    -webkit-background-clip: text; /*Propriedades para deixar o texto gradiente*/
	background-clip: text; /* Foi colocado aqui apenas para corrigir um erro apontado na linha anterior quando você usa a propriedade -webkit-background-clip */
}

header nav ul {
	display: flex;
	list-style: none; /*Define uma imagem para o tópico da lista (ex.: *, =>, etc) */
}

header nav ul li {
	padding: 15px;
}

header nav ul li a {
	text-decoration: none; /* Underline, overline, blink, etc */
	font-size: 1.2rem;
	color: white;
	transition: 0.5s; /*Tempo para a mudança. Neste caso, a cor. */
}

header nav ul li a:hover {
	color:#348FAA;
} 

/* ----------------- FIM DA CONFIGURAÇÃO MENU PRINCIPAL ------------------ */
/* -----------------     CONFIGURAÇÃO ÁREA CENTRAL      ------------------ */

div#id_centro {
	margin: auto;
	margin-top: 10pt;
	border-radius: 2%;
	border-width: 2pt;
	border-style: solid;
	border-color: black;
	width: 60%;
	height: 60%;
    background-image: url(../image/fundo-medio.jpg);
	background-position: center;
    background-size: cover;
	opacity: 0.7;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div#id_centro h1 {
	justify-self: center;
	margin: auto;
	margin-top: 25%;
}

#img_foto {
	margin: 0;
	padding: 0;
	width: 14vw;
	height: 27vh;
	border-style: groove;
	border-color: #1c4c5a;
	border-radius: 50%;
	box-shadow: 0.5em 0.5em 1em #454F51;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	right: 43vw;         /* Definindo a posição em que aparecerá na tela  */
    bottom: 62vh;        /* Definindo a posição em que aparecerá na tela  */
	position: fixed;     /* Definindo que elemento fique fixo */
    z-index: 100;        /* Definindo que elemento se sobreponha aos outros */ 
}

p {
	margin: 2em;
	text-align:justify;
}

